* {
	box-sizing: border-box;
	font-family: 'NanumGothic';
}
:root {
	--main-color: #09ce20;
}
body {
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
@font-face {
	font-family: 'NanumGothic.ttf';
	font-weight: normal;
	src: url('../public/fonts/NanumGothic.ttf');
}
.navbar {
	display: flex;
	position: sticky;
	align-items: center;
	justify-content: space-between;
	margin: 0 2vw;
}
.logo {
	width: 90px;
	height: 90px;
}
.navbar > div {
	display: flex;
	align-items: center;
	gap: 15px;
}
.navbar a:hover {
	color: #09ce20;
	cursor: pointer;
}
.navbar p {
	font-weight: 600;
	font-size: 20px;
}
@media only screen and (max-width: 700px) {
	.navbar p {
		font-weight: 500;
		font-size: 15px;
	}
	.logo {
		width: 55px;
		height: 55px;
	}
}
