.navbar {
	display: flex;
	position: sticky;
	align-items: center;
	justify-content: space-between;
	margin: 0 2vw;
}
.logo {
	width: 90px;
	height: 90px;
}
.navbar > div {
	display: flex;
	align-items: center;
	gap: 15px;
}
.navbar a:hover {
	color: var(--main-color);
	cursor: pointer;
}
.navbar p {
	font-weight: 600;
	font-size: 20px;
}
.main-banner {
	display: inline-block;
	grid-column: 1;
	grid-row: 1;
}
.main-banner-inner {
	width: 100%;
	background-color: rgb(9, 206, 32, 0.1);
}
.main-banner-container {
	display: grid;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	grid-template-columns: 1.8fr 1fr;
}
.main-banner > img {
	margin-top: 50px;
	width: 500px;
	height: 500px;
}
.main-banner-slide {
	padding: 10px 0;
	text-align: center;
}
.applyWriter {
	display: flex;
	font-weight: 600;
	background-color: #af69ef;
	margin-top: 60px;
	margin-left: 50px;
	width: 30vw;
	height: 200px;
	transform: skew(5deg);
	grid-row: 1;
	grid-column: 2;
	justify-content: center;
	align-items: center;
	font-size: 22px;
}
.applyWriter > P {
	font-family: hind, simhei, verdana, Helvetica, sans-serif;
}
.app {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 50px;
	margin-top: 330px;
	width: 30vw;
	height: 200px;
	background-color: var(--main-color);
	font-weight: 600;
	transform: skewX(-5deg);
	font-size: 22px;
	grid-column: 2;
	grid-row: 1;
}
.app p {
	font-family: hind, simhei, verdana, Helvetica, sans-serif;
	margin: 0;
}
.app > img {
	width: 80px;
	height: 80px;
	padding-left: 10px;
}
.main-banner-inner button {
	background-color: #dcdcdc;
	border: none;
	color: white;
	padding: 4.5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 4px 2px;
	border-radius: 50%;
}
#main-banner-btn-0 {
	z-index: 1;
	background-color: var(--main-color);
}
.main-banner-inner button:hover {
	cursor: pointer;
}
.days {
	display: flex;
	width: 80%;
	margin: 0 auto;
	height: 60px;
}
.days > div {
	width: 100%;
	text-align: center;
}
.days p {
	display: inline-block;
	font-weight: 500;
	margin: 0;
	line-height: 60px;
}
.days p:hover {
	color: var(--main-color);
	cursor: pointer;
}
.byDaysWebtoonContainer {
	background-color: #f4f4f4;
}
.byDaysWebtoon {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding: 40px 0;
	margin: 0 auto;
	justify-items: center;
	width: 1150px;
}
.byDaysWebtoon > div {
	width: 210px;
	height: 210px;
	display: inline-block;
	margin: 18px 10px;
}
.byDaysWebtoon > div:hover {
	cursor: pointer;
}
.byDaysWebtoon img {
	width: 210px;
	height: 210px;
}
@media only screen and (max-width: 1150px) {
	.byDaysWebtoon {
		width: 90%;
	}
	.byDaysWebtoon img {
		width: 150px;
		height: 150px;
	}
	.byDaysWebtoon > div {
		width: 150px;
		height: 150px;
		margin: 18px 10px;
	}
}
@media only screen and (max-width: 900px) {
	.app {
		display: none;
	}
	.applyWriter {
		display: none;
	}
	.main-banner-container {
		grid-template-columns: 1fr;
	}
	.main-banner-inner {
		text-align: center;
	}
	.main-banner > img {
		border-radius: 30px;
		width: 80%;
		height: 350px;
	}
}

@media only screen and (max-width: 700px) {
	.navbar p {
		font-weight: 500;
		font-size: 15px;
	}
	.logo {
		width: 55px;
		height: 55px;
	}
	.byDaysWebtoon {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		margin: 0 auto;
		width: 100%;
		justify-items: center;
	}
	.days {
		width: 95%;
	}
}
